<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <title>Pwflix</title>
  </head>

  <body>
    <form id="searchForm" method="GET" action="/movies/search">
      <input name="search" type="text" />
      <input type="submit" value="Filtrar" />
    </form>
  </body>
</html>
